body{
  min-width:1000px;        /* Suppose you want minimum width of 1000px */
  width: auto !important;  /* Firefox will set width as auto */
  width:1000px;            /* As IE6 ignores !important it will set width as 1000px; */
}

#controls label {
  font-size: 0.9em;
  margin: auto 0px;
}

#controls input {
  margin: 5px 0px;
}

#controls b {
  margin: auto 0px;
}

#input-controls {
  position: relative;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
}

.checkbox {
  margin-right: 15px;
}
